:root{
  --color-primary:#1e88e5;
  --color-primary-trans: RGBA(30,136,229,.25);
  --color-success: #0a5;
  --color-danger: #E00000;
}

h1, h2, h3, h4, h5, h6, button{
  /* font-family: 'Comfortaa', cursive; */
  font-family: 'Montserrat', sans-serif;

}

h1, h2, h3, h4, h5, h6{
  color: var(--color-primary);
}

h1, h2{
  font-weight: 300;
}

h3, h4, h5, h6, button{
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*-------------------Timepicker Overrides-------------------*/
.timepicker-digital-display{ background-color: var(--color-primary); }
.timepicker__day--selected, .timepicker__day--selected:hover, .timepicker--focused .timepicker__day--selected { background-color: var(--color-primary);}
.timepicker__close { color: var(--color-primary) !important;}
.timepicker__today { color: var(--color-primary) !important;}
.timepicker-tick:hover { background: var(--color-primary-trans) !important; }
.timepicker-canvas line { stroke: var(--color-primary) !important; }
.timepicker-canvas-bearing { fill: var(--color-primary) !important; }
.timepicker-canvas-bg { fill: var(--color-primary) !important; }
.timepicker-footer button { color: var(--color-primary); }


/*-------------------Collection Overrides-------------------*/
/* .collection-train{
  box-shadow: 2px 2px 5px rgba(0,0,0,.025);
} */

.collection-header{
  position: relative;
  background: #ccc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(120deg, #fff, #eee);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(120deg, #fff, #eee); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.collection-header::after{
  position: absolute;
  left: 0;
  bottom: 0;
  content:' ';
  width: 100%;
  height: .25em;
  background: var(--color-primary);  /* fallback for old browsers */
  background: -webkit-linear-gradient(120deg, var(--color-primary), #eee);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(120deg, var(--color-primary), #eee); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.collection-item.collection-reset{
  padding: 2em;
  margin: 0;
}

/*-------------------Input Overrides-------------------*/
/* label color */
#input-form .input-field label { color: #000; }

/* label focus color */
#input-form .input-field input[type=text]:focus+label,
#input-form .input-field input[type=number]:focus+label { 
  color: var(--color-primary); 
}

/* label underline focus color */
#input-form .input-field input[type=text]:focus, 
#input-form .input-field input[type=number]:focus  {
  border-bottom: 1px solid var(--color-primary);
  box-shadow: 0 1px 0 0 var(--color-primary);
}

/* valid color */
#input-form .input-field input[type=text].valid
#input-form .input-field input[type=number].valid {
  border-bottom: 1px solid var(--color-success);
  box-shadow: 0 1px 0 0 var(--color-success);
}

/* invalid color */
#input-form .input-field input[type=text].invalid,
#input-form .input-field input[type=number].invalid {
  border-bottom: 1px solid var(--color-danger);
  box-shadow: 0 1px 0 0 var(--color-danger);
}

/* icon prefix focus color */
#input-form .input-field .prefix.active { color: var(--color-primary); }

/*-------------------Button Overrides-------------------*/

#input-form .button{
  background: var(--color-primary);
  box-shadow: none;
  border-radius: 0;
}

/*-------------------Table Overrides-------------------*/
tr:last-child{
  border-bottom: none;
}

/*-------------------Clearfix-------------------*/
.clearfix {
  *zoom: 1;
}
.clearfix:before, 
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}